* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.button {
  cursor: pointer;
  padding: 13px 45px;
  border: 1px solid;
  border-radius: 100px;
  color: #F53838;
  background-color: transparent;
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1.1875;
}
.button:hover {
  background-color: #F53838;
  color: #fff;
}
.button-big {
  padding: 17.5px 78px;
  height: 60px;
  background-color: #F53838;
  color: #fff;
  border-radius: 10px;
}
.button-big:hover {
  transform: scale(1.01);
}
.button-big::after {
  content: "";
  position: absolute;
  height: 100%;
  display: block;
  width: 90%;
  top: 50%;
  left: 5%;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
}
.button-select {
  padding: 13px 63px;
}
.button-select.select-active::after {
  content: "";
  position: absolute;
  height: 100%;
  display: block;
  width: 90%;
  top: 50%;
  left: 5%;
  background: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
}

.select-active {
  background-color: #F53838;
  color: #fff;
}

.text {
  color: #0B132A;
}
.text-bold {
  font-weight: 700;
}
.text-heading {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  background-color: linear-gradient(to bottom, red, #ffffff);
}

@media screen and (max-width: 1279.98px) {
  .button {
    padding: 8px 20px;
  }
  .button-big {
    padding: 17.5px 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .button-big {
    height: unset;
    padding: 14px 20px;
  }
}
.header {
  font-size: 16px;
  line-height: 1.1875;
  padding-top: 50px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 0 40px;
  color: #4F5665;
}
.header-item:last-child {
  display: none;
}
.header-signin {
  padding: 13px 30px;
}
.header-menu {
  display: none;
  width: 30px;
}

@media screen and (max-width: 1279.98px) {
  .header-list {
    gap: 0 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}
@media screen and (max-width: 479.98px) {
  .header-auth {
    display: none;
  }

  .header-menu {
    display: block;
  }
}
.hero {
  margin-top: 130px;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-info {
  max-width: 555px;
}
.hero-heading {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.hero-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}
.hero-img {
  transform: translateX(40px);
}

@media screen and (max-width: 1279.98px) {
  .hero {
    margin-top: 40px;
  }

  .hero-img {
    transform: translate(0);
  }

  .hero-heading {
    font-size: 37px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-container {
    flex-direction: column;
    gap: 20px 0;
  }

  .hero-heading {
    font-size: 35px;
  }

  .hero-desc {
    margin-bottom: 20px;
  }

  .hero-info {
    max-width: unset;
  }
}
.intro {
  margin-top: 130px;
}
.intro-container {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  min-height: 200px;
}
.intro-user {
  display: flex;
  width: 32%;
  justify-content: center;
  align-items: center;
  gap: 0 36.5px;
}
.intro-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
  min-height: 125px;
  gap: 0 36.5px;
}
.intro-server {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0 36.5px;
  width: 32%;
}
.intro-heading {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}
.intro-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .intro-location {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
  }
}
@media screen and (max-width: 1279.98px) {
  .intro {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .intro-container {
    flex-direction: column;
    align-items: inherit;
    padding: 37px 60px;
  }
  .intro-server, .intro-location, .intro-user {
    width: 100%;
    justify-content: unset;
  }
}
.features {
  margin-top: 95px;
  margin-bottom: 131px;
}
.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 170px;
}
.features-info {
  margin-top: 55px;
}
.features-heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 383px;
}
.features-desc-heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin: 20px 0;
}
.features-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  gap: 0 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1279.98px) {
  .features-container {
    gap: 0 20px;
  }
  .features-info {
    max-width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .features {
    margin: 40px 0;
  }
  .features-container {
    flex-direction: column;
  }
  .features-info {
    max-width: unset;
  }
  .features-heading {
    font-size: 24px;
    max-width: unset;
  }
}
.plan {
  padding-top: 80px;
  background: linear-gradient(180deg, #fafafa, #fff);
}
.plan-top {
  text-align: center;
}
.plan-heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  margin-bottom: 20px;
}
.plan-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: auto;
  margin-bottom: 60px;
}
.plan-body {
  display: flex;
  gap: 0 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.plan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 70px 50px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  background-color: #ffffff;
}
.plan-box-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin: 30px 0;
}
.plan-list {
  margin-bottom: 50px;
  flex: 1;
}
.plan-item {
  display: flex;
  gap: 0 20px;
}
.plan-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
}
.plan-price {
  text-align: center;
}
.plan-price h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 20px;
}
.plan-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #4F5665;
}

@media screen and (max-width: 1279.98px) {
  .plan-box {
    padding: 60px 52px 50px;
  }
}
@media screen and (max-width: 1023.98px) {
  .plan {
    padding-top: 40px;
  }

  .plan-body {
    gap: 0 10px;
  }

  .plan-box {
    padding: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .plan-heading {
    font-size: 30px;
  }

  .plan-body {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 55%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }

  .plan-body::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .plan-body > * {
    scroll-snap-align: start;
  }

  .plan-box {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 479.98px) {
  .plan-heading {
    font-size: 30px;
  }

  .plan-body {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }

  .plan-body::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .plan-body > * {
    scroll-snap-align: start;
  }

  .plan-box {
    padding: 40px 10px;
  }
}
.network {
  padding-top: 150px;
  text-align: center;
}
.network-heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  max-width: 383px;
  margin: auto;
}
.network-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 555px;
  margin: 20px auto 156px;
}

@media screen and (max-width: 767.98px) {
  .network {
    padding-top: 80px;
  }
  .network-desc {
    margin-bottom: 40px;
  }
  .network-heading {
    font-size: 30px;
  }
}
.partner {
  margin-top: 36px;
}
.partner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 60px;
}

@media screen and (max-width: 479.98px) {
  .partner-container {
    gap: 0 20px;
  }
}
.subscribe {
  transform: translateY(50%);
}
.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58.5px 70px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 114px rgba(13, 16, 37, 0.06);
}

@media screen and (max-width: 767.98px) {
  .subscribe {
    transform: translateY(0);
    margin-top: 80px;
  }
  .subscribe-container {
    padding: 30px 20px;
    flex-direction: column;
    align-items: unset;
    gap: 20px 0;
  }
  .subscribe-container a {
    width: max-content;
  }
}
.customer {
  margin-top: 50px;
}
.customer-heading {
  max-width: 448px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin: auto;
}
.customer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  max-width: 555px;
  margin: 20px auto 60px;
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
}
.customer-assess {
  max-width: 400px;
  padding: 30px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  margin: 0 25px;
}
.customer-assess.slick-active.slick-current {
  border: 2px solid #F53838;
}
.customer-assess-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.customer-assess-info {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.customer-assess-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.customer-assess-name h6 {
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
  margin-bottom: 5px;
}
.customer-assess-name p {
  font-weight: 400;
  font-size: 14px;
  color: #4F5665;
}
.customer-assess-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0B132A;
}
.customer .slick-dots {
  display: flex;
  list-style-type: none;
  gap: 0 15px;
  margin-top: 82px;
  transform: translateY(50%);
}
.customer .slick-dots .slick-active button {
  width: 45px;
  background-color: #F53838;
}
.customer .slick-dots button {
  font-size: 0;
  border-radius: 100px;
  width: 15px;
  height: 15px;
  border: none;
  transition: all 0.2s linear;
}
.customer .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
}
.customer .slick-prev {
  border: 1px solid #F53838;
  background-color: transparent;
  right: 80px;
}
.customer .slick-next {
  background-color: #F53838;
  right: 0;
  border: none;
}

@media screen and (max-width: 1023.98px) {
  .customer-assess {
    max-width: 510px;
  }
}
@media screen and (max-width: 767.98px) {
  .customer-heading {
    font-size: 30px;
  }
  .customer-assess {
    padding: 20px 14px;
    margin: 0 4px;
  }
  .customer .slick-dots {
    margin-top: 20px;
    gap: 0 10px;
  }
  .customer .slick-dots button {
    width: 10px;
    height: 10px;
  }
  .customer .slick-dots .slick-active button {
    width: 30px;
  }
  .customer .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .customer .slick-prev {
    right: 60px;
  }
}
@media screen and (max-width: 479.98px) {
  .customer-assess {
    max-width: 480px;
  }

  .customer .slick-dots {
    margin: 0 auto;
  }
}
.footer {
  background: #F8F8F8;
  padding-top: 180px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
}
.footer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  max-width: 340px;
  margin: 30px 0 20px;
}
.footer-icon {
  display: flex;
}
.footer-icon img {
  margin-left: -20px;
}
.footer-version {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}
.footer-right {
  flex: 1;
  margin-left: 230px;
  display: flex;
  justify-content: space-between;
}
.footer-list {
  list-style-type: none;
}
.footer-list h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 20px;
}
.footer-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 10px;
}

@media screen and (max-width: 1023.98px) {
  .footer-right {
    margin-left: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px 0;
  }
  .footer-right {
    margin-left: 0;
  }
  .footer-desc {
    max-width: 100%;
  }
}
@media screen and (max-width: 479.98px) {
  .footer-right {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}
@media screen and (max-width: 479.98px) {
  .header-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    padding-top: 20%;
    background-color: #FFF;
    z-index: 99;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }
  .header-list.list-active {
    transform: translateX(0);
  }
  .header-list img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block !important;
  }
  .header-item a {
    display: block;
    padding: 20px 60px;
  }
  .header-item:last-child {
    margin-top: 40px;
    display: block;
    border-top: 1px solid #f6f6f6;
  }
}

/*# sourceMappingURL=main.css.map */
