.features {
  padding: 9.5rem 0 13.1rem;
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 170px;
  }
  &-info {
    margin-top: 55px;
    max-width: 430px;
    width: 100%;
  }
  &-heading {
    max-width: 383px;
  }
  &-desc {
    margin: 20px 0
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1279.98px) {
  .features {
    &-container {
      gap: 0 20px;
    }
    &-info {
      max-width: 40%
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .features {
    padding: 80px 0
  }
}


@media screen and (max-width: 767.98px) {
  .features {
    padding: 40px 0;
    &-container {
      flex-direction: column;
    }
    &-info {
      max-width: unset
    }
    &-heading {
      max-width: unset
    }
  }
}


