* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $font;
}

.wrap {
  max-width: 1440px;
  margin: 50px auto 0;
  background-color: #fff
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.button {
  cursor: pointer;
  padding: 13px 45px;
  border: 1px solid;
  border-radius: 100px;
  color: $primary-color;
  background-color: transparent;
  display: inline-block;
  position: relative;

  &-big {
    padding: 17.5px 78px;
    height: 60px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 10px;  
    &::after {
      content: '';
      position: absolute;
      height:100%;
      display: block;
      width:90%;
      top: 50%;
      left: 5%;
      background: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
    }
  }
  &-select {
    padding: 13px 63px
  }
  

  &-select.select-active {
    &::after {
      content: '';
      position: absolute;
      height:100%;
      display: block;
      width:90%;
      top: 50%;
      left: 5%;
      background: rgba(245, 56, 56, 0.35);
      filter: blur(54px);
    }
  }
}

.select-active {
  background-color: $primary-color;
  color: #fff;
}

.text {
  color: $heading-color;
  &-bold {
    font-weight: 700;
  }
  &-heading {
    font-weight: 500;
  }

}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  background-color: linear-gradient(to bottom, red, #ffffff)
}

@media screen and (max-width: 1279.98px) {
  .button {
    padding: 8px 20px;
    &-big {
      padding: 17.5px 40px
    }
  }
}

@media screen and (max-width: 767.98px) {
  .button {
    &-big {
      height: unset;
      padding: 14px 20px;
    }
  }
}

