.header {
  font-size: 16px;
  line-height: calc(19/16);
  &-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &-list {
    display: flex;
    list-style-type: none;
    gap: 0 40px;
    color: $text-color;
  }
  &-signup {
    margin-left: 30px;
  }
  
}