.header {
  font-size: 16px;
  line-height: calc(19/16);
  padding-top: 50px;
  &-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 0 40px;
    color: $text-color;
  }
  &-item:last-child {
    display: none
  }
  &-signin {
    padding: 13px 30px;
  }
  &-menu {
    display: none;
    width: 30px
  }
}

@media screen and (max-width: 1279.98px) {
  .header-list {
    gap: 0 20px
  }
}

@media screen and (max-width: 767.98px) {
  .header-list {
    display: none
  }
}

@media screen and (max-width: 479.98px) {
  .header-auth {
    display: none
  }
  .header-menu {
    display: block
  }
}


