.hero {
  margin-top: 130px;
  &-container {
    display: flex;
    align-items: center;
  }
  &-info {
    max-width: 555px;
  }
  &-heading {
    font-weight: 500;
    font-size: 50px;
    line-height: calc(70/50);
    margin-bottom: 20px;
  }
  &-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  &-right {
    position: relative;
  }
  &-img {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    max-width: none;
  }
}

@media screen and (max-width: 1279.98px) {
  .hero {
    margin-top: 40px;
  }
  .hero-img {
    position: static;
    transform: translate(0);
    max-width: 100%;
  }
  .hero-heading {
    font-size: 37px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero-container {
    flex-direction: column;
    gap: 20px 0
  }
  .hero-heading {
    font-size: 35px;
  }
  .hero-desc {
    margin-bottom: 20px;
  }
  
  .hero-info {
    max-width: unset
  }
}


