.hero {
  padding-top: 130px;
  &-container {
    display: flex;
    align-items: center;
  }
  &-info {
    max-width: 555px;
  }
  &-heading {
    font-weight: 500;
    font-size: 5rem;
    line-height: calc(70/50);
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 50px;
  }
  &-img {
    transform: translateX(40px);
  }
}

@media screen and (max-width: 1279.98px) {
  .hero-img {
    transform: translate(0);
  }
  // .hero-heading {
  //   font-size: 37px;
  // }
}

@media screen and (max-width: 1023.98px) {
  .hero {
    padding-top: 80px;
  }
}


@media screen and (max-width: 767.98px) {
  .hero {
    padding-top: 40px;
    &-container {
      flex-direction: column;
      gap: 20px 0
    }
    // &-heading {
    //   font-size: 35px;
    // }
    &-desc {
      margin-bottom: 20px;
    }
    
    &-info {
      max-width: unset
    }
  }
}


