.intro {
  margin-top: 130px;
  &-container {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 37px 0;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
    min-height: 200px;
  }

  &-user {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 36.5px;

  }
  &-location {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125px;
    gap: 0 36.5px;
  }
  &-server {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0 36.5px;
  }

  &-heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 30px;
    margin-bottom: 5px;
  }
  &-desc {
    font-weight: 400;
    font-size: 2rem;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .intro-location {
    
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
  }
}


@media screen and (max-width: 1279.98px) {
  .intro {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .intro {
    &-container {
      flex-direction: column;
      align-items: inherit;
      padding: 37px 60px
    }
    &-server,
    &-location,
    &-user {
      width: 100%;
      justify-content: unset
    }
    

  }
}


