.network {
  padding-top: 150px;
  text-align: center;
  &-heading {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: $heading-color;
    max-width: 383px;
    margin: auto;
  }
  &-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    max-width: 555px;
    margin:20px auto 156px;
  }
}