.network {
  padding-top: 150px;
  text-align: center;
  &-heading {
    max-width: 383px;
    margin: auto;
  }
  &-desc {
    max-width: 555px;
    margin:20px auto 156px;
  }
}

@media screen and (max-width: 1023.98px) {
  .network {
    padding-top: 80px;
  }
}


@media screen and (max-width: 767.98px) {
  .network {
    padding-top: 40px;
    &-desc {
      margin-bottom: 40px;
    }
  }
}
