.partner {
  margin-top: 36px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
  }
}

@media screen and (max-width: 479.98px) {
  .partner-container {
    gap: 0 20px
  }
}
