.plan {
  padding-top: 80px;
  background: linear-gradient(180deg, #fafafa, #fff);
  &-container{

 }
  &-top{
    text-align: center;
 }
  &-heading{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: $heading-color;
    margin-bottom: 20px;
 }
  &-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    max-width: 555px;
    margin: auto;
    margin-bottom: 60px;
 }
  &-body{
    display: flex;
    gap: 0 50px;
    justify-content: center
 }
  &-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:80px 70px 50px; 
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #ffffff;
 }
 &-box-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: $heading-color;
  margin: 30px 0;
 }
  &-list{
    margin-bottom: 50px;
    flex: 1
 }
  &-item{
    display: flex;
    gap: 0 20px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: $text-color
    }
 }
  &-price{
    text-align: center;
    h5 {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: $heading-color;
      margin-bottom: 20px;
    }
 }
 &-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: $text-color
 }

}