.plan {
  padding-top: 80px;
  background: linear-gradient(180deg, #fafafa, #fff);
  &-top{
    text-align: center;
 }
  &-heading{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: $heading-color;
    margin-bottom: 20px;
 }
  &-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    max-width: 555px;
    margin: auto;
    margin-bottom: 60px;
 }
  &-body{
    display: flex;
    gap: 0 50px;
    justify-content: center;
    flex-wrap: wrap;
 }
  &-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:80px 70px 50px; 
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #ffffff;
 }
 &-box-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: $heading-color;
  margin: 30px 0;
 }
  &-list{
    margin-bottom: 50px;
    flex: 1
 }
  &-item{
    display: flex;
    gap: 0 20px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: $text-color
    }
 }
  &-price{
    text-align: center;
    h5 {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      color: $heading-color;
      margin-bottom: 20px;
    }
 }
 &-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: $text-color
 }

}

@media screen and (max-width: 1279.98px) {
  .plan-box {
    padding: 60px 52px 50px;

  }
}
@media screen and (max-width: 1023.98px) {
  .plan {
    padding-top: 40px
  }
  .plan-body {
    gap: 0 10px
  }
  .plan-box {
    padding: 24px
  }
}


@media screen and (max-width: 767.98px) {
  .plan-heading {
    font-size: 30px;
  }
  .plan-body {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 55%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .plan-body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .plan-body > *{
    scroll-snap-align: start;
  }

  .plan-box {
    padding: 40px 10px
  }
}

@media screen and (max-width: 479.98px) {
.plan-heading {
    font-size: 30px;
  }
  .plan-body {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .plan-body::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .plan-body > *{
    scroll-snap-align: start;
  }

  .plan-box {
    padding: 40px 10px
  }
}



